rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
    match /Transactions/{transactionId} {
    	allow read, write: if true
    }
    match /Accounts/{accountsId} {
    	allow read, write: if true
    }
    match /Stores/{storeId} {
    	allow write: if true
    }
     match /{document=**} {
       allow read: if true;
    }
   }
}